server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: restaurant-service
          uri: http://localhost:8081
          predicates:
            - Path=/restaurants/**

        - id: product-service
          uri: http://localhost:8081
          predicates:
            - Path=/products/**

        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/users/**

        - id: order-service
          uri: http://localhost:8082
          predicates:
            - Path=/orders/**

        - id: notification-service
          uri: http://localhost:8083
          predicates:
            - Path=/notifications/**
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG
